<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About pam l</h1>

  <p>
    This website is built by <a target="_blank" href="http://github.com/pampl">Pam</a>.
  </p>
  <p>
    I am going into my 2nd year of uni in London, studying Management at Cass Business School. I just started to learn to code. Being able to code will definitely separate me from other students studying the same course as me. So, hopefully in the near future, I will become good at this.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>
  <br />
 <div class="col-xs-12 col-sm-4">
    <%= image_tag 'pam.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">pam l</h2>
    <br />
    <p>
      Pam is a student at Cass Business School. She graduated from Shrewsbury International School in Bangkok. She is currently studying Management in London. Her hobbies are watching TV, baking, cooking, knitting and exercising. She is an althlete in high school. She was part of the basketball team, volleyball team, football team and softball team.
    </p>
  </div>
<br class="clear" />
<br />
<br />
<br />
<br />

</div>